In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [4]:
spark = SparkSession.builder.appName("PartitioningExample").getOrCreate()

df = spark.read.csv("supermarket_sales.csv", header=True, inferSchema=True)

df.printSchema()
df.show(5)

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: double (nullable = true)
 |-- Total: double (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross margin percentage: double (nullable = true)
 |-- gross income: double (nullable = true)
 |-- Rating: double (nullable = true)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|01/05/2019|2025-03-20 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03/08/2019|2025-03-20 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|03/03/2019|2025-03-20 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048| 1/27/2019|2025-03-20 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|02/08/2019|2025-03-20 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

In [5]:
partitioned_df = df.repartition("City")
print(f"Number of partitions: {partitioned_df.rdd.getNumPartitions()}")

partitioned_df.show(5)

Number of partitions: 1
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|               Time|Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-------+------+-----------------------+------------+------+
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03/08/2019|2025-03-20 10:29:00|   Cash|  76.4|            4.761904762|        3.82|   9.6|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165| 3/25/2019|2025-03-20 18:30:00|Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38| 2/24/2019|2025-03-20 11:38:00|Ewallet| 735.6|            4.761904762|       36.78|   8.0|
|300-71-4605|     C|Naypyitaw|       Member|  Male|Electronic access...|     86.04|       5|  21.51|  451.71| 2/25/2019|2025-03-20 11:24:00|Ewallet| 430.2|            4.761904762|       21.51|   4.8|
|183-56-6882|     C|Naypyitaw|       Member|Female|  Food and beverages|     99.42|       4| 19.884| 417.564|02/06/2019|2025-03-20 10:42:00|Ewallet|397.68|            4.761904762|      19.884|   7.5|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-------+------+-----------------------+------------+------+
only showing top 5 rows

In [6]:
range_partition_df = df.repartitionByRange(4, col("Total"))
print(f"Number of partitions: {range_partition_df.rdd.getNumPartitions()}")

range_partition_df.show(5)

Number of partitions: 4
+-----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity|Tax 5%|  Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+----------+-------------------+-----------+------+-----------------------+------------+------+
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|  3.82|  80.22|03/08/2019|2025-03-20 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2| 3.626| 76.146|01/10/2019|2025-03-20 17:15:00|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4| 2.896| 60.816|02/06/2019|2025-03-20 18:07:00|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4| 5.102|107.142|03/09/2019|2025-03-20 17:03:00|       Cash|102.04|            4.761904762|       5.102|   6.8|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|  4.03|  84.63|03/11/2019|2025-03-20 15:30:00|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+------+-------+----------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

In [7]:
filtered_df = partitioned_df.filter(col("City") == "Yangon")

summary_df = filtered_df.groupBy("Product line").sum("Quantity")

sorted_df = summary_df.orderBy(col("sum(Quantity)").desc())

sorted_df.show()

+--------------------+-------------+
|        Product line|sum(Quantity)|
+--------------------+-------------+
|  Home and lifestyle|          371|
|   Sports and travel|          333|
|Electronic access...|          322|
|  Food and beverages|          313|
| Fashion accessories|          263|
|   Health and beauty|          257|
+--------------------+-------------+

In [8]:
spark.stop()